
.nav-items{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    font-family: Mont;
}

.button{
    font-size: 26px;
    background-color: black;
    color: white;
    border-color: black;
}
.button:hover{
    background-color: white;
    color: black;
    transition: 341ms;
}
