
.body{
    background-color: black;
    font-family: Mont;
    color: white;
}

.p{
    font-family: Mont;
    color: white;
    font-size:351%;
    margin-top: 281px;
    margin-bottom:0px;

}

/*TypeWriter Effect*/
.name{
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: 4.6rem;
    width: 0;
    animation: 
       typing 1s steps(20, end) 
       forwards, blinking 0.8s infinite;
 }

 .container{
     display: inline-block;
 }
 
 @keyframes typing {
     from { width: 0 }
     to { width: 100% }
   }
 
@keyframes blinking {
    from { border-color: transparent }
    to { border-color: white; }
  }
 /*TypeWriter Effect*/

.nav-bar{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    font-family: Mont;
}

.button{
    font-size: 26px;
    background-color: black;
    color: white;
    border-color: black;
}
.button:hover{
    background-color: white;
    color: black;
    transition: 341ms;
}
