<html>

<head>
    <title>
        D3X
    </title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <header>
        <heading>
            <h1 class="dev-name">Tushin Kulshreshtha</h1>
        </heading>
        <nav class="nav-bar">
            <a href="Index.html" class="nav-items">Index </a>&ensp;
            <a href="Education.html" class="nav-items">Education</a> &ensp;
            <a href="My Projects.html" class="nav-items">My Projects</a> &ensp;
            <a href="Achievements.html" class="nav-items">Achievements</a>&ensp;
            <a href="Work Experience.html" class="nav-items">Work Experience </a>&ensp;
            <a href="Contact Me.html" class="nav-items">Resume</a>&ensp;
        </nav>
        <br>
    </header>

<body class="body">
    
    <main class="main">
        Hi Everyone!!<span class="hand-wave">👋</span><br>
        I am Your Friendly<br>
        Neighborhood Software Developer
    </main>
    <br>
    <footer class="footer">
        <div class="tk">
            Created By Tushin Kulshreshtha © 2023
        </div>
    </footer>
</body>
</head>

</html>