<html>

<head>
    <title>
        D3X
    </title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <script defer src="../JS/script.js"></script>
        <heading>
            <h1 class="dev-name">Tushin Kulshreshtha</h1>
        </heading>
        <button class="menu-button" id="toggle-button" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <section class="nav-menu" id="nav-menu">
                <!-- <a href="../_layouts/NotFound/index.html" id="nav-items">Index </a>
                <a href="NotFound.html" id="nav-items">Education</a>
                <a href="NotFound.html" id="nav-items">My Projects</a>
                <a href="NotFound.html" id="nav-items">Achievements</a>
                <a href="NotFound.html" id="nav-items">Work Experience </a> -->
                <a download href="/assets/Resume/Tushin_Prof_Resume_new.pdf" id="nav-items">Resume</a>
        </section>      
        <nav class="nav-bar">
            <a href="" class="nav-items">Index </a>&ensp;
            <a href="" class="nav-items">Education</a> &ensp;
            <a href="" class="nav-items">My Projects</a> &ensp;
            <a href="" class="nav-items">Achievements</a>&ensp;
            <a href="" class="nav-items">Work Experience </a>&ensp;
            <a download href="/assets/Resume/Tushin_Prof_Resume_new.pdf" class="nav-items" id="download-button" onclick="btn_active()">Resume</a>&ensp;
        </nav>
        <br>
    </header>

<body class="body">
    
    <main class="main">
        Hi Everyone!!<span class="hand-wave">👋</span><br>
        I am Your Friendly<br>
        Neighborhood Software Developer
    </main>
    <p class="current-info">
        (This website is still in development so don't get your hopes high 🤓.)
    </p>
    <br>
    
    <footer class="footer">
        <div class="tk">
            Created By Tushin Kulshreshtha © 2023
        </div>
    </footer>
</body>
</head>

</html>