

<html>
    <head>
        <title>
            INDEX
        </title>
        <header>
            <heading >
                <h1>My Portfolio</h1>
              </heading>
            <nav> 
                <a href= "Index.html">Index </a>&ensp;
                 <a href= "Education.html">Education</a> &ensp;
                 <a href= "My Projects.html">My Projects</a> &ensp;
                 <a href= "Achievements.html">Achievements</a>&ensp;
                 <a href= "Work Experience.html">Work Experience </a>&ensp;
                 <a href="Contact Me.html">Contact Me</a>&ensp;
                 
                </ul>
            </nav>
            <br>
        </header>
        <body>
            <main>
            </main>
            <br>
             <footer>
                Created By Tushin Kulshreshtha
               </footer>
        </body>
    </head>
</html>