<!DOCTYPE html>

<html>
    <head>
       <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <title>
            Work Experience
        </title>
        <body class="body">
            <header>
                <h1 class="heading"></h1>
                <nav class="nav-bar">
                    <a href="index.html" class="nav-items"><button class="button">Home</button></a>
                    <a href="Projects.html" class="nav-items"><button class="button">Projects</button></a>
                    <a href="Education.html" class="nav-items"><button class="button">Education</button></a>
                    <a href="Work.html" class="nav-items"><button class="button">Work Experience</button></a>
                    <a href="Inspiration.html" class="nav-items"><button class="button">Inspiration</button></a>
                </nav>
            </header>
            <main class="main">
            </main>
            <footer>
                Tushin Kulshreshtha on <a href="https://github.com/Dextron04" target="_blank">GitHub</a>
            </footer>
        </body>
    </head>
</html>